body{
    background-color:rgb(50,50,50);
}
.main-container{
    display:flex;
    justify-content:end;
}
.column{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.box{
    margin:20px;
    height:400px;
    width:400px;
    border-radius: 20px;
    background-size:cover;
    display:flex;
    align-items:flex-end;
    text-decoration:none;
}
.box:hover{
    height:410px;
    width:410px;
    margin:10px;
}
.box-content{
    text-shadow: 1px 1px 5px black;
    margin-left: 10px;
    color:white;
    z-index:1;
}
.pinned-img{
    position:fixed;
    height:620px;
    width:420px;
    left:3%;
    bottom:16px;
    font-size:18px;
    text-shadow: 1px 1px 10px grey;
    background-image:url("https://i.etsystatic.com/31717961/r/il/ae40e1/3796349467/il_fullxfull.3796349467_5aob.jpg");
    background-size:cover;
    color:white;
    z-index: 9;
}
h1{
    font-size:50px;
    color:rgb(200,200,200,1)
}

@media (min-width:1000px){
    .pinned-blurb{
        position:relative;
        text-align:center;
        top:370px;
    }
    .pinned-img{
        border-radius:15px;
    }
}
@media (max-width:1000px){
    .pinned-img{
        display:flex;
        width:100%;
        height:25%;
        left:0;
        bottom:0;
        background-image:none;
        background-color:black;
    }
    .pinned-mobile{
        content:url("resources/bannermobile.png")
    }
    .pinned-blurb{
        align-self:center;
    }
    .box{
        height:350px;
        width:350px;
        border-radius: 15px;
    }
    .box:hover{
        height:360px;
        width:360px;
    }
    .main-container{
        align-items:center;
        flex-direction:column;
    }
}