body{
    background-color:rgb(50,50,50);
}
.main-container{
    display:flex;
    justify-content:end;
}
.column{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.box{
    margin:20px;
    height:400px;
    width:400px;
    border-radius: 20px;
    background-size:cover;
    display:flex;
    align-items:flex-end;
    text-decoration:none;
    font-family: 'Asul';
}
.box-content{
    text-shadow: 1px 1px 5px black;
    margin-left: 10px;
    color:white;
    z-index:1;
}
.pinned-img{
    position:fixed;
    height:620px;
    width:420px;
    left:3%;
    bottom:16px;
    font-size:18px;
    text-shadow: 1px 1px 10px grey;
    background-image:url("images/banner.png");
    background-size:cover;
    color:white;
    z-index: 9;
    font-family: 'Asul';
}
.pinned-mobile{
    display:none;
}
h1{
    font-size:50px;
    font-family:'Cormorant SC';
    color:rgb(200,200,200,1);
    text-align:center;
    margin-top:30px;
    margin-bottom:30px;
}

@media (min-width:1000px){
    .pinned-blurb{
        position:relative;
        text-align:center;
        top:390px;
    }
    .pinned-img{
        border-radius:15px;
    }
}
@media (max-width:1000px){
    .pinned-img{
        display:flex;
        width:100%;
        height:25%;
        left:0;
        bottom:0;
        background-image:none;
        background-color:black;
    }
    .pinned-mobile{
        display:block;
    }
    .pinned-blurb{
        align-self:center;
    }
    .box{
        height:350px;
        width:350px;
        border-radius: 15px;
    }
    .main-container{
        align-items:center;
        flex-direction:column;
    }
}